# Ex - GroupBy

### Introduction:

GroupBy can be summarizes as Split-Apply-Combine.

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

Check out this [Diagram](http://i.imgur.com/yjNkiwL.png)  
### Step 1. Import the necessary libraries

In [ ]:
import pandas as pd

import pandas as pd


url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv"

       country  beer_servings  spirit_servings  wine_servings  total_litres_of_pure_alcohol continent
0  Afghanistan              0                0              0                           0.0        AS
1      Albania             89              132             54                           4.9        EU
2      Algeria             25                0             14                           0.7        AF
3      Andorra            245              138            312                          12.4        EU
4       Angola            217               57             45                           5.9        AF

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv).

### Step 3. Assign it to a variable called drinks.

In [ ]:
drinks = pd.read_csv(url)

print(drinks.head())

       country  beer_servings  spirit_servings  wine_servings  total_litres_of_pure_alcohol continent
0  Afghanistan              0                0              0                           0.0        AS
1      Albania             89              132             54                           4.9        EU
2      Algeria             25                0             14                           0.7        AF
3      Andorra            245              138            312                          12.4        EU
4       Angola            217               57             45                           5.9        AF

### Step 4. Which continent drinks more beer on average?

In [ ]:

beer_avg = drinks.groupby("continent")["beer_servings"].mean()
print(beer_avg)


max_continent = beer_avg.idxmax()
max_avg = beer_avg.max()

print(f"{max_continent} drinks the most beer on average with {max_avg:.2f} servings.")

continent
AF     61.471698
AS     37.045455
EU    193.777778
OC     89.687500
SA    175.083333
Name: beer_servings, dtype: float64
EU drinks the most beer on average with 193.78 servings.

### Step 5. For each continent print the statistics for wine consumption.

In [ ]:
wine_stats = drinks.groupby("continent")["wine_servings"].describe()

print(wine_stats)

           count        mean        std  min   25%    50%     75%    max
continent
AF          53.0   16.264151  38.846419  0.0   1.0    2.0   13.00  233.0
AS          44.0    9.068182  21.667034  0.0   0.0    1.0    8.00  123.0
EU          45.0  142.222222  97.421738  0.0  59.0  128.0  195.00  370.0
OC          16.0   35.625000  64.555790  0.0   1.0    8.5   23.25  212.0
SA          12.0   62.416667  88.620189  1.0   3.0   12.0   98.50  221.0

### Step 6. Print the mean alcoohol consumption per continent for every column

In [ ]:

numeric_columns = drinks.select_dtypes(include=['number'])


alcohol_mean = numeric_columns.groupby(drinks["continent"]).mean()

print(alcohol_mean)

           beer_servings  spirit_servings  wine_servings  total_litres_of_pure_alcohol
continent
AF             61.471698        16.339623      16.264151                      3.007547
AS             37.045455        60.840909       9.068182                      2.170455
EU            193.777778       132.555556     142.222222                      8.617778
OC             89.687500        58.437500      35.625000                      3.381250
SA            175.083333       114.750000      62.416667                      6.308333

### Step 7. Print the median alcoohol consumption per continent for every column

In [ ]:

numeric_columns = drinks.select_dtypes(include=['number'])


alcohol_median = numeric_columns.groupby(drinks["continent"]).median()


print(alcohol_median)

           beer_servings  spirit_servings  wine_servings  total_litres_of_pure_alcohol
continent
AF                  32.0              3.0            2.0                          2.30
AS                  17.5             16.0            1.0                          1.20
EU                 219.0            122.0          128.0                         10.00
OC                  52.5             37.0            8.5                          1.75
SA                 162.5            108.5           12.0                          6.85

### Step 8. Print the mean, min and max values for spirit consumption.
#### This time output a DataFrame

In [ ]:
spirit_stats = pd.DataFrame({
    "Mean": [drinks["spirit_servings"].mean()],
    "Min": [drinks["spirit_servings"].min()],
    "Max": [drinks["spirit_servings"].max()]
})


print(spirit_stats)

        Mean  Min  Max
0  80.994819    0  438